<div class="search-bar">
    <div class="section-search search-style-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <div class="clearfix">
                        <h2>Signup</h2>

                        <form class="form signup-form">
                            <div class="form-group">
                                <label for="email-signup">email:</label>
                                <input class="form-input" type="text" id="email-signup" />
                            </div>
                            <div class="form-group">
                                <label for="password-signup">password:</label>
                                <input class="form-input" type="password" id="password-signup" />
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Signup</button>
                            </div>
                            <a href="/login">Login instead</a>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/signup.js"></script>