html, body {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	color: #777;
	font-size: 16px;
	line-height: 1.7em;
	font-weight: 400;
	overflow-x: hidden;
	-webkit-text-size-adjust: 100%;
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
}

a {
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	cursor: pointer;
}

a:hover, a:focus {
	text-decoration: none;
	o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

img {
	max-width: 100%;
}

a, b, div, ul, li {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	-moz-outline-: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

video, object {
	min-height: 100%;
	min-width: 100%;
}

b, strong {
	font-weight: 600;
}
/* =-=-=-=-=-=-= Helper Classes  =-=-=-=-=-=-= */
.load-more-btn {
	margin-top: 20px;
}

.no-padding {
	padding: 0;
}

.no-margin {
	margin: 0;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

.margin-bottom-40 {
	margin-bottom: 40px;
}

.margin-bottom-50 {
	margin-bottom: 50px;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-top-30 {
	margin-top: 30px;
}

.margin-top-40 {
	margin-top: 40px;
}

.margin-top-50 {
	margin-top: 50px;
}

.container.full-width {
	width: 100%!important;
}

.section-padding {
	padding: 90px 0;
}

.section-padding-140 {
	padding: 140px 0;
}

.section-padding-120 {
	padding: 120px 0;
}

.section-padding-100 {
	padding: 100px 0;
}

.section-padding-80 {
	padding: 80px 0;
}

.section-padding-70 {
	padding: 70px 0;
}

.section-padding-60 {
	padding: 60px 0;
}

.section-padding-40 {
	padding: 40px 0;
}

.custom-padding-20 {
	padding: 20px 0;
}

.no-top {
	padding-top: 0;
}

.padding-top-20 {
	padding-top: 20px;
}

.padding-top-30 {
	padding-top: 30px;
}

.padding-top-40 {
	padding-top: 40px;
}

.padding-top-50 {
	padding-top: 50px;
}

.padding-top-45 {
	padding-top: 45px;
}

.padding-top-60 {
	padding-top: 60px;
}

.padding-top-70 {
	padding-top: 70px;
}

.padding-top-80 {
	padding-top: 80px;
}

.padding-top-90 {
	padding-top: 90px;
}

.padding-top-100 {
	padding-top: 100px;
}

.padding-top-120 {
	padding-top: 120px;
}

.padding-top-140 {
	padding-top: 140px;
}

.padding-bottom-20 {
	padding-bottom: 20px;
}

.padding-bottom-30 {
	padding-bottom: 30px;
}

.padding-bottom-40 {
	padding-bottom: 40px;
}

.padding-bottom-50 {
	padding-bottom: 50px;
}

.padding-bottom-70 {
	padding-bottom: 70px;
}

.padding-bottom-80 {
	padding-bottom: 80px;
}

.padding-bottom-120 {
	padding-bottom: 120px;
}

.padding-bottom-100 {
	padding-bottom: 100px;
}

.padding-bottom-80 {
	padding-bottom: 80px;
}

.padding-bottom-60 {
	padding-bottom: 60px;
}

.padding-bottom-40 {
	padding-bottom: 40px;
}

.padding-bottom-20 {
	padding-bottom: 40px;
}

.custom-padding {
	padding: 90px 0 60px 0;
}

.custom-padding.no-top {
	padding: 0 0 60px 0;
}

.custom-padding-2 {
	padding: 90px 0 110px 0;
}

.gray {
	background-color: #f6f6f6;
}

.white-bg {
	background-color: #fff;
}

.badge-overlay {
	left: 10px;
	position: absolute;
	top: 10px;
	z-index: 11;
}

.badge {
	border-radius: 0;
	display: table;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 0.12em;
	line-height: 17px;
	padding: 3px 10px;
}

.no-right {
	padding-right: 0;
}

.no-left {
	padding-left: 0;
}

iframe {
	width: 100%;
}
/* =-=-=-=-=-=-= Typography  =-=-=-=-=-=-= */

h1, h2, h3, h4, h5, h6 {
	position: relative;
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
	margin: 0px;
	background: none;
	line-height: 1.6em;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 14px;
	line-height: 1.6;
}

h6 {
	font-size: 12px;
}

p {
	line-height: 1.6em;
	font-size: 16px;
}

.btn {
	font-size: 14px;
	letter-spacing: 1px;
	padding: 10px 15px;
	border-radius: 1px;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	font-weight: 600;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
}

.form-control {
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 1px;
	box-shadow: none;
	color: #555;
	font-size: 14px;
	height: auto;
	padding: 15px 12px;
	transition: all 0.2s cubic-bezier(0, 0, 0.58, 1) 0s;
}

ul {
	margin-left: 0;
}

.btn-lg {
	padding: 12px 52px;
	letter-spacing: 1.3px;
}

.btn-md {
	padding: 10px 20px;
}

.btn-sm {
	padding: 8px 16px;
	font-size: 12px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.btn-xs {
	padding: 6px 18px;
	font-size: 12px;
}

.btn-rounded {
	border-radius: 4px;
}
/* =-=-=-=-=-=-= Preloader =-=-=-=-=-=-= */
.preloader {
	background-color: #ffffff;
	background-image: url("../images/sb-loader.gif");
	background-position: center center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	left: 0;
	position: fixed;
	top: 0;
	z-index: 999999;
	overflow: hidden !important;
}
/* =-=-=-=-=-=-= Color Switcher =-=-=-=-=-=-= */
.color-switcher {
	width: 234px;
	position: fixed;
	left: -235px;
	top: 10%;
	background: #fff;
	z-index: 9999;
	padding: 15px 0 5px;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	border: 1px solid #ccc;
}

.color-switcher h5 {
	font-size: 15px;
	margin-top: 0;
	padding: 0 20px;
	color: #232323;
}

.color-switcher p {
	padding-bottom: 7px;
	font-size: 14px;
	color: #595959;
	margin-bottom: 0;
	padding-left: 20px;
}

.color-switcher ul {
	list-style: none;
	padding-left: 20px;
}

.color-switcher ul li {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

.color-switcher ul li a {
	display: block;
	width: 24px;
	height: 24px;
	outline: none;
}

.color-switcher ul li a.defualt {
	background: #e52d27;
}

.color-switcher ul li a.green {
	background: #00bf8f;
}

.color-switcher ul li a.purple {
	background: #673ab7;
}

.picker_close {
	width: 40px;
	height: 40px;
	position: absolute;
	right: -44px;
	top: 55px;
	border: 1px solid #ccc;
	text-align: center;
	background: no-repeat center 5px #fff;
}

.picker_close i {
	font-size: 22px;
	margin-top: 9px;
}

.position {
	left: 0;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

/* =-=-=-=-=-=-= Heading Styles =-=-=-=-=-=-= */

.heading-panel, .heading-panel-2 {
	margin-bottom: 30px;
	overflow: hidden;
}

.heading-panel .left-side h1::before {
	margin: 0;
}

.heading-panel .left-side h1::after {
	margin: 0;
}

.heading-panel .left-side .heading-text {
	width: 100%;
}

.heading-panel h3.main-title {
	display: inline-block;
}

.heading-panel .heading-box {
	border-bottom: 1px solid #f1f1f1;
}

.heading-panel-2 h3 {
	color: #222;
	font-size: 22px;
	font-weight: 700;
	position: relative;
	text-transform: capitalize;
	z-index: 2;
}

.heading-panel h3 {
	color: #232323;
	font-size: 20px;
	font-weight: 500;
	line-height: 60px;
	margin: 0;
	text-transform: capitalize;
}

.heading-panel h3.small-link {
	font-size: 12px;
	font-weight: normal;
}

.heading-panel h1 {
	color: #222;
	font-size: 28px;
	font-weight: 700;
	padding-bottom: 20px;
	position: relative;
	text-transform: capitalize;
	z-index: 2;
}

.heading-panel h1::before {
	background-color: #242424;
	bottom: 6px;
	content: "";
	height: 1px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	width: 99px;
}

.heading-panel h1::after {
	background-color: #242424;
	bottom: 0;
	content: "";
	height: 1px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	width: 59px;
}

.heading-text {
	display: inline-block;
	line-height: 26px;
	width: 55%;
	margin-top: 20px;
}
/* =-=-=-=-=-=-= Header Top Bar  =-=-=-=-=-=-= */
.header-top:after {
	content: '';
	display: block;
	clear: both;
}

.colored-header:after {
	content: '';
	display: block;
	clear: both;
}

.primary-header:after, .primary-header-1:after {
	content: '';
	display: block;
	clear: both;
}

.header-top.dark {
	background: #202020;
}

.header-right {
	padding: 0;
}

.header-top ul {
	margin-bottom: 0;
}

.header-top ul.listnone li {
	display: inline-block;
	line-height: 39px;
	padding: 0 10px;
	position: relative;
}

.header-top ul li a {
	color: #fff;
	text-transform: capitalize;
	font-size: 14px;
	position: relative;
}

.header-top ul.listnone li a.btn {
	text-transform: uppercase;
}

.header-top ul.listnone li a.btn:hover {
	color: #fff;
}

.header-top ul li i {
	margin-right: 5px;
	font-size: 14px;
}

.header-top ul li ul.dropdown-menu li {
	display: block;
	border-left: medium none;
	padding-left: 0;
}

.header-top-left p {
	color: #fff;
	display: block;
	float: left;
	font-size: 14px;
	line-height: 35px;
	margin-bottom: 0;
	margin-top: 0;
}

.header-top-left p a {
	color: #fff;
}

.header-top-left p a:hover {
	color: #f56719;
}

.header-top-left p+ p {
	margin-left: 25px;
}

.header-top-left p i {
	font-size: 14px;
	line-height: 49px;
	margin-right: 10px;
}

.header-top ul.dropdown-menu li:first-child {
	padding-right: 0;
}

.header-top .dropdown-menu li:last-child {
	border-bottom: medium none;
}

.header-top ul li ul.dropdown-menu li {
	border-left: medium none;
	display: block;
	padding-left: 0;
	padding-right: 0;
}

.header-top ul.dropdown-menu li {
	width: 100%;
	border-bottom: 1px solid #f3f3f3;
}

.header-top ul.dropdown-menu li a {
	color: #232323;
	width: 100%;
	font-size: 14px;
	text-transform: uppercase;
}

.header-top .dropdown-menu> li> a:hover, .header-top .dropdown-menu> li> a:focus {
	background: transparent;
}

.header-top .dropdown-menu> li> a {
	box-sizing: border-box;
	font-size: 14px;
	font-weight: 600;
	padding: 15px 20px;
	text-transform: capitalize;
	width: 100%;
}

.header-top ul.dropdown-menu {
	border-radius: 0;
	margin-top: 0;
	z-index: 999;
	padding: 0;
}
/* =-=-=-=-=-=-= Main Header  =-=-=-=-=-=-= */
.ms-overlay-layers::before {
	background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9;
}

.colored-header #menu-1 .menu-list-items .menu-links li a.btn-light {
	color: #fff;
	padding-right: 15px;
}

.colored-header #menu-1 .menu-list-items .menu-links li a.btn-light i {
	margin-right: 10px;
}

#search-section {
	background: #363c48 none repeat scroll 0 0;
	padding: 20px 0;
}

#search-section .select2-container--default .select2-selection--single {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0;
	height: 52px;
}

#search-section .btn-light {
	color: #fff;
	padding: 15px;
}

.header-area {
	background: #fff none repeat scroll 0 0;
	padding: 30px 0;
	position: relative;
}

.primary-header #menu-1 .menu-list-items .custom-menu .menu-logo li a img {
	display: none;
}

.primary-header .mega-menu section.menu-list-items {
	background: #2d343d;
	padding: 10px 0;
}

.primary-header .mega-menu .menu-links> li> a {
	color: #fff;
}

.primary-header .mega-menu .menu-links li:first-child a {
	padding-left: 0;
}

.primary-header .mega-menu .drop-down-multilevel li:first-child a {
	padding-left: 20px;
}

.primary-header .mega-menu .menu-list-items .custom-menu .menu-search-bar li a.btn {
	padding: 15px;
}

.primary-header .mega-menu .menu-list-items .custom-menu .menu-search-bar li a.btn-theme {
	background: rgba(255, 255, 255, 0.2);
	border: medium none;
}

.search-bar {
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.07);
	position: relative;
	z-index: 99;
}

.search-bar .search-form .btn-lg {
	letter-spacing: 1.3px;
	padding: 17px 30px;
}

.search-bar .search-form .btn {
	margin-top: 32px;
}

.search-bar .search-style-2 .search-form {
	padding: 33px 0;
}

.header-top img.resize {
	height: 26px;
	width: 26px;
	margin-top: -1px;
}

img.resize {
	height: 45px;
	width: 45px;
}

.primary-header img.resize {
	height: 35px;
	width: 35px;
	margin-top: 7px;
}

.myname {
	padding-left: 10px;
}

.contact-in-header {
	border-left: 1px solid #dfdfdf;
	padding-left: 10px;
}

.contact-in-header i {
	color: #232323;
	float: left;
	font-size: 45px;
	line-height: 51px;
	margin-right: 0;
}

.contact-in-header span {
	color: #999999;
	float: right;
	line-height: 25px;
	margin-left: 10px;
}

.contact-in-header strong {
	font-size: 20px;
}

.mega-menu .menu-list-items ul.menu-links li.pull-right {
	float: right;
}

.mega-menu .drop-down ul.by-category li a::before, .mega-menu .drop-down ul.by-make li a::before {
	content: "";
}

.mega-menu .drop-down ul.by-make li a img {
	height: 80px;
	width: 80px;
}

.mega-menu .drop-down ul.by-category li {
	margin-bottom: 10px;
	width: 116px;
	text-align: center;
}

.mega-menu .drop-down ul.by-category li a img {
	margin-bottom: 5px;
}

.mega-menu .drop-down ul.by-category li a {
	text-align: center;
}

#form-panel {
	background-color: rgba(255, 255, 255, 0.25);
	padding: 24px 25px;
}

/* =-=-=-=-=-=-= Home With Static Banner =-=-=-=-=-=-= */
#banner {
	background: url("../images/banner-5.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 480px;
	position: relative;
	width: 100%;
}

#banner::before {
	background-color: rgba(34, 34, 34, 0.6);
	content: "";
	display: inline-block;
	height: 100%;
	position: absolute;
	width: 100%;
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.infoBox:after {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 40px;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fff;
}
/* =-=-=-=-=-=-= Home With Background Rotator Slider =-=-=-=-=-=-= */
 



/* =-=-=-=-=-=-= Grid Listing 1 =-=-=-=-=-=-= */
.category-grid-box-1 {
	background: #fff none repeat scroll 0 0;
	box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.16);
	margin-bottom: 30px;
	overflow: hidden;
	float: left;
	display: block;
	width: 100%;
	position: relative;
}

.category-grid-box-1:after {
	content: '';
	clear: both;
	display: block;
}

.category-grid-box-1 .category-title {
	color: #a0a0a0;
	font-size: 14px;
}

.category-grid-box-1 .category-title a {
	color: #a0a0a0;
}

.category-title a {
	color: #a0a0a0;
	font-size: 14px;
}

.category-grid-box-1 h3 {
	color: #232323;
	font-size: 18px;
	margin-bottom: 4px;
	text-transform: capitalize;
}

.category-grid-box-1:hover {
	box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.4);
}

.category-grid-box-1 .price-tag .price span {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	padding: 5px 30px;
	text-transform: capitalize;
}

.category-grid-box-1 a {
	color: #232323;
	font-weight: 500;
}

.category-grid-box-1 a h6 {
	color: #333;
	margin: 0 0 10px;
}

.category-grid-box-1 a h4 {
	color: #242424;
	font-size: 16px;
	margin: 0 0 10px;
	text-transform: capitalize;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.category-grid-box-1 a h4:hover {
	color: #3c92ca;
}

.category-grid-box-1 .short-description-1 {
	padding: 15px 15px 15px 15px;
	background: #fff none repeat scroll 0 0;
}

.category-grid-box-1 .short-description-1 ul {
	line-height: 30px;
	margin-bottom: 0;
	margin-top: 20px;
}

.category-grid-box-1 .short-description-1 ul li {
	overflow: hidden;
	font-size: 18px;
	margin-bottom: 10px;
}

.category-grid-box-1 .short-description-1 ul li i {
	color: #999;
	float: left;
	font-size: 20px;
	line-height: 30px;
	margin-right: 10px;
}

.location {
	color: #a0a0a0;
	font-size: 16px;
	margin-bottom: 20px;
}

.location i {
	padding-right: 5px;
}

.category-grid-box-1 .price-tag {
	bottom: 3px;
	position: absolute;
	right: 0;
}

.category-grid-box-1 .image {
	overflow: hidden;
	position: relative;
}

.category-grid-box-1 .image img {
	width: 100%;
	position: relative;
}

.special-label-small {
	width: 249px;
}

.special-label {
	background: #df1d1d none repeat scroll 0 0;
}

.special-label {
	text-align: center;
	color: #fff;
	height: 49px;
	left: -81px;
	line-height: 49px;
	position: absolute;
	text-transform: uppercase;
	top: 27px;
	-ms-transform: rotate(-45deg) translateZ(0px);
	-webkit-transform: rotate(-45deg) translateZ(0px);
	transform: rotate(-45deg) translateZ(0px);
	transform-origin: 50% 50% 0;
	z-index: 10;
	font-size: 14px;
}

.special-label-small {
	height: 32px;
	line-height: 32px;
	top: 20px;
}

.ad-info-1 {
	background: #fff none repeat scroll 0 0;
	padding: 8px 18px 10px;
	overflow: hidden;
	width: 100%;
	border-top: 1px solid #f1f1f1;
}

.ad-info-1 .skin-minimal .list li label {
	color: #888888;
	margin-bottom: 0;
	vertical-align: middle;
}

.ad-info-1 ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}

.ad-info-1 ul li {
	color: #888888;
	display: inline-block;
	float: left;
	font-size: 16px;
	line-height: 30px;
	padding: 5px 7px;
	text-align: left;
}

.ad-info-1 ul li span {
	color: #fff;
	font-size: 12px;
}

.ad-info-1 ul li i {
	color: #a0a0a0;
	font-size: 22px;
	margin-right: 5px;
}

.white.category-grid-box-1 .ad-info-1 ul li, .white.category-grid-box-1 .ad-info-1 ul li a {
	color: #a0a0a0;
	font-weight: 500;
}

.white.category-grid-box-1 img {
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	width: 100%;
}

.white.category-grid-box-1 .image:hover img {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.short-description-1 .rating {
	margin: 0;
	float: left;
}

.short-description-1 .location {
	margin-bottom: 10px;
}

.ad-price {
	font-size: 22px;
	font-weight: 600;
	float: left;
	margin-bottom: 10px;
	color: #232323;
}

.grid-style-2 .category-grid-box-1 .short-description-1 ul li {
	display: inline-block;
	font-size: 18px;
	overflow: hidden;
	position: relative;
	color: #1f1d22;
	margin-right: 10px;
	margin-bottom: 0;
}

.grid-style-2 .category-grid-box-1 .short-description-1 ul li i {
	color: #a0a0a0;
	float: left;
	font-size: 18px;
	margin-right: 10px;
}

.grid-style-2 .ad-info-1, .grid-style-2 .ad-info-1 ul li {
	padding: 0;
}

.grid-style-2 .ad-info-1 ul li {
	text-align: center;
}

.grid-style-2 .ad-info-1 p {
	display: inline-block;
	line-height: 48px;
	padding-left: 18px;
	margin-bottom: 0;
	font-size: 18px;
}

.grid-style-2 .ad-info-1 p i {
	color: #a0a0a0;
	font-size: 20px;
}

.grid-style-2 .ad-info-1 ul li a {
	border-left: 1px solid #e5e5e5;
	display: block;
	font-size: 18px;
	height: inherit;
	line-height: 48px;
	text-align: center;
	width: 48px;
}

.grid-style-2 .ad-info-1 ul li a i {
	margin-right: 0;
}
/* =-=-=-=-=-=-= Grid Listing 2 =-=-=-=-=-=-= */

.white.category-grid-box {
	background: #fff;
}

.category-grid-box {
	float: left;
	margin-bottom: 30px;
	width: 100%;
	border: 1px solid #e1e1e1;
	overflow: hidden;
	background: #fff;
}

.category-grid-box:after {
	content: "";
	display: block;
	clear: both;
}

.category-grid-box .category-grid-img {
	float: left;
	position: relative;
	width: 100%;
}

.category-grid-box .category-grid-img::before {
	-webkit-transition: all 0.6s ease 0s;
	-moz-transition: all 0.6s ease 0s;
	-ms-transition: all 0.6s ease 0s;
	-o-transition: all 0.6s ease 0s;
	transition: all 0.6s ease 0s;
}

.category-grid-box .category-grid-img> img {
	float: left;
	width: 100%;
}

.category-grid-box .category-grid-img .ad-status {
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	padding: 5px 10px;
	position: absolute;
	text-transform: uppercase;
	top: 0;
	left: 0;
}

.category-grid-box> h3 {
	color: #1b1d21;
	float: left;
	font-size: 19px;
	font-weight: bold;
	margin: 22px 0 7px;
	width: 100%;
}

.category-grid-box> h3 a {
	color: #1b1d21;
}

.category-grid-box .additional-information p {
	margin-bottom: 0;
	line-height: 25px;
	padding-right: 30px;
	text-transform: capitalize;
}

.category-grid-box span.price {
	float: left;
	font-size: 22px;
}

.category-grid-box .category-grid-img::before {
	background: #000000 none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	-ms-transform: scale(0.9);
	/* IE 9 */
	-webkit-transform: scale(0.9);
	/* Chrome, Safari, Opera */
	transform: scale(0.9);
	width: 100%;
}

.category-grid-box:hover .category-grid-img::before {
	opacity: 0.7;
	-ms-transform: scale(1);
	/* IE 9 */
	-webkit-transform: scale(1);
	/* Chrome, Safari, Opera */
	transform: scale(1);
}

.category-grid-box .user-preview {
	position: absolute;
	right: 15px;
	top: 20px;
}

.category-grid-box .user-preview img {
	border-radius: 50%;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
	display: inline-block;
	height: 40px;
	vertical-align: middle;
	width: 40px;
}

.category-grid-box .view-details {
	bottom: 15px;
	color: #fff;
	display: none;
	font-size: 1em;
	position: absolute;
	right: 25px;
	text-align: right;
	width: 100%;
}

.category-grid-box:hover .view-details {
	display: block;
	-ms-transform: scale(1);
	/* IE 9 */
	-webkit-transform: scale(1);
	/* Chrome, Safari, Opera */
	transform: scale(1);
}

.category-grid-box .additional-information {
	display: none;
	font-size: 16px;
	color: #FFF;
	position: absolute;
	width: 100%;
	left: 25px;
	bottom: 45px;
	text-align: left;
}

.category-grid-box:hover .additional-information {
	display: block;
}

.category-grid-box .short-description {
	padding: 20px 20px;
	overflow: hidden;
	border-top: 1px solid #ccc;
}

.category-grid-box .short-description h3 {
	font-size: 18px;
	color: #232323;
	text-transform: capitalize;
	margin-bottom: 10px;
	font-weight: 500;
}

.category-grid-box .short-description .btn {
	padding: 3px 10px;
}

.category-grid-box .short-description .btn i {
	margin-right: 5px;
}

.category-grid-box .short-description h3 a {
	color: #232323;
}

.category-grid-box .short-description .price {
	font-weight: 600;
	font-size: 24px;
}

.category-grid-box span.negotiable {
	color: #a0a0a0;
	font-size: 14px;
	line-height: 17px;
}

.category-grid-box .short-description .category-title {
	color: #a0a0a0;
	font-size: 14px;
}

.category-grid-box .category-title a {
	color: #a0a0a0;
}

.category-grid-box .ad-info {
	border-top: 1px solid #eeeeee;
	overflow: hidden;
	position: relative;
}

.category-grid-box .ad-info ul {
	list-style: outside none none;
	margin: 0 10px;
	padding: 0;
}

.category-grid-box .ad-info ul li:first-child {
	float: left;
	text-align: left;
}

.category-grid-box .ad-info ul li {
	color: #888888;
	display: inline-block;
	font-size: 18px;
	padding: 10px 7px;
	text-align: left;
	float: left;
	line-height: 30px;
}

.category-grid-box .ad-info ul li i {
	color: #a0a0a0;
	margin-right: 5px;
	font-size: 22px;
}
 

 
 
 

/* =-=-=-=-=-=-= Single Ad Details =-=-=-=-=-=-= */
.singlepage-detail .content-box-grid .short-features {
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 25px;
}

.singlepage-detail .heading-panel h3 {
	font-size: 20px;
}

.singlepage-detail .heading-panel h3.main-title {
	border-bottom: medium none;
	display: inline-block;
}

.singlepage-detail .heading-panel {
	margin-bottom: 10px;
}

.singlepage-detail .ad-share {
	margin-top: 15px;
	margin-bottom: 15px;
	overflow: hidden;
}

.singlepage-detail .content-box-grid .short-features span strong {
	color: #232323;
}

.singlepage-detail .content-box-grid .ad-related-img {
	overflow: hidden;
	margin-bottom: 30px;
}

.singlepage-detail .content-box-grid .specification p:first-letter {
	text-transform: capitalize;
}

.content-box-grid h1 {
	color: #232323;
	font-size: 22px;
	margin-bottom: 4px;
	text-transform: capitalize;
}

.ad-share .content-box-grid {
	cursor: pointer;
}

.singlepage-detail {
	position: relative;
	overflow: hidden;
}

.content-box-grid {
	border: 1px solid #e7e7e7;
	border-radius: 1px;
	background: #fff;
	padding: 20px 30px;
}

.key-features {
	margin-bottom: 15px;
	margin-top: 15px;
	overflow: hidden;
}

.content-box-grid i {
	font-size: 20px;
	padding-right: 5px;
	vertical-align: middle;
}

.btn-fb {
	background: #3b5998 none repeat scroll 0 0;
}

.btn-sharp {
	border-radius: 1px;
}

.modal-footer .btn + .btn {
	margin-bottom: 0;
	margin-left: 5px;
}

.btn-twitter {
	background: #00aced none repeat scroll 0 0;
}

.btn-gplus {
	background: #d14433 none repeat scroll 0 0;
}

.price-quote .recent-ads .recent-ads-list, .contact-seller .recent-ads .recent-ads-list {
	border-bottom: 1px solid #e2e2e2;
	margin-bottom: 30px;
	padding-bottom: 10px;
}

.price-quote .recent-ads .recent-ads-list-image-inner, .contact-seller .recent-ads .recent-ads-list-image-inner {
	background-color: transparent;
	width: auto;
	height: auto;
}

.price-quote .recent-ads .recent-ads-list-image, .contact-seller .recent-ads .recent-ads-list-image {
	width: 50%;
}

.price-quote .recent-ads .recent-ads-list-title a, .contact-seller .recent-ads .recent-ads-list-title a {
	font-size: 18px;
}

.price-quote .recent-ads .recent-ads-list-price, .contact-seller .recent-ads .recent-ads-list-price {
	font-size: 16px;
}

.share-ad .recent-ads .recent-ads-list {
	border-bottom: 1px solid #e2e2e2;
	margin-bottom: 30px;
	padding-bottom: 10px;
}

.share-ad .recent-ads .recent-ads-list-image-inner {
	background-color: transparent;
	width: auto;
	height: auto;
}

.share-ad .recent-ads .recent-ads-list-image {
	width: 50%;
}

.share-ad .recent-ads .recent-ads-list-title a {
	font-size: 18px;
}

.share-ad .recent-ads .recent-ads-list-price {
	font-size: 16px;
}

.share-ad .modal-body p {
	font-size: 14px;
}

.share-ad .modal-body h3 {
	font-size: 18px;
	color: #232323;
	margin-bottom: 5px;
	font-weight: 500;
}

.share-ad .modal-footer {
	padding: 10px;
}

.show-sticky-ad-detail {
	display: block !important;
}

.sticky-ad-detail {
	background-color: #363c48;
	bottom: 0;
	color: #fff;
	left: 0;
	padding: 10px 0 15px;
	position: fixed;
	right: 0;
	z-index: 10;
	display: none;
}

.sticky-ad-detail .btn {
	border: medium none;
	color: #fff;
	font-size: 14px;
	margin: 10px 0;
	padding: 10px 20px;
}

.sticky-ad-detail .btn i {
	margin-right: 5px;
}

.sticky-ad-detail .btn .icon-phone {
	vertical-align: -1px;
}

.sticky-ad-detail .btn-phone {
	background: #15a949 none repeat scroll 0 0;
	box-shadow: 0 2px 0 #087a30;
}

.sticky-ad-detail .btn-phone.active {
	background: #fff none repeat scroll 0 0;
	border: 2px solid #15a949;
	box-shadow: none;
	color: #15a949;
	padding: 9px 20px;
}

.sticky-ad-detail .btn-message {
	background: #4691e1 none repeat scroll 0 0;
	box-shadow: 0 2px 0 #367bc4;
	margin-right: 10px;
}

.singlepage-detail .content-box-grid .short-history li {
	display: inline-block;
	border-right: 1px solid #e7e7e7;
	padding-right: 10px;
	padding-left: 10px;
}

.singlepage-detail .content-box-grid .short-history li:first-child {
	padding-left: 0;
}

.singlepage-detail .content-box-grid .short-history li:last-child {
	border-right: medium none;
}

.singlepage-detail .content-box-grid .short-history li b {
	font-weight: 600;
}

.short-history li {
	display: inline-block;
	border-right: 1px solid #e7e7e7;
	padding-right: 10px;
	padding-left: 10px;
	line-height: 20px;
}

.short-history li:first-child {
	padding-left: 0;
}

.short-history li:last-child {
	border-right: medium none;
}

.short-history li b {
	font-weight: 600;
}

.sticky-ad-detail .short-history li b a {
	color: #fff;
}

.adz-detail strong {
	color: #232323;
}

.singlepage-detail .adz-head h4 {
	color: #232323;
	font-size: 24px;
}

.adz-detail, .top-sellers {
	padding: 25px 0;
}

.adz-detail .short-features {
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;
}

.adz-detail .heading-panel h3 {
	color: #232323;
	font-size: 22px;
}

.adz-detail .heading-panel {
	margin-bottom: 30px;
}

.adz-detail .heading-panel h3.main-title {
	border-bottom: 2px solid #f58936;
	display: block;
}

.desc-points {
	margin-bottom: 10px;
}

.desc-points ul, .desc-points ol {
	counter-reset: item;
}

.desc-points li {
	line-height: 40px;
}

.desc-points ol {
	list-style: none;
	padding-left: 0;
}

.desc-points li:before, .desc-points ol li:before {
	background: #f1f1f1 none repeat scroll 0 0;
	border-radius: 50%;
	color: #232323;
	content: counter(item, decimal) "";
	counter-increment: item;
	display: inline-block;
	font-size: 12px;
	height: 25px;
	line-height: 25px;
	opacity: 0.7;
	text-align: center;
	width: 25px;
	margin-right: 10px;
}

.desc-points li i {
	color: #6bc242;
	margin-right: 15px;
}

.single-details .owl-controls .owl-nav .owl-next, .single-details .owl-controls .owl-nav .owl-prev {
	background-color: #f58936;
	border-radius: 0;
	font-size: 20px;
	opacity: 1;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.single-details .owl-prev {
	left: -5px;
	position: absolute;
	top: 40%;
}

.single-details .owl-next {
	position: absolute;
	right: -5px;
	top: 40%;
}

.single-details .owl-controls .owl-nav div {
	padding: 30px 10px;
}

.single-details .owl-controls .owl-nav {
	display: none;
}

.singlepage-detail .single-details:hover .owl-controls .owl-nav {
	display: block;
}

.singlepage-detail .content-box-grid .ad-title {
	border-bottom: 1px solid #eee;
	margin-bottom: 15px;
	padding-bottom: 25px;
}

.singlepage-detail .content-box-grid .ad-title h2 {
	color: #232323;
	font-size: 22px;
	margin-bottom: 4px;
	text-transform: capitalize;
}

.singlepage-detail .content-box-grid .ad-title h2 a {
	color: #232323;
}

#itemMap {
	width: 100%;
	height: 370px;
	margin-bottom: 5px;
}

.content-box-grid .ad-closed img {
	left: 42px;
	position: absolute;
	top: 107px;
}

.gallery-style-post {
	margin-bottom: 30px;
}

.star-score {
	padding-left: 5px;
	color: #232323;
	font-size: 18px;
}

.content-box-grid .key-features {
	margin: 0 0 10px;
}

.content-box-grid .boxicon {
	width: 98px;
}

.boxicon {
	background-color: #fff;
	border: 1px solid #f1f1f1;
	border-radius: 0;
	float: left;
	height: 90px;
	margin-top: 0;
	padding: 7px;
	text-align: center;
	width: 107px;
}

#itemMap {
	width: 100%;
	height: 370px;
	margin-bottom: 5px;
}

div.boxicon:last-child {
	margin-right: 0;
}

.boxicon i {
	font-size: 40px;
	padding-top: 15px;
	padding-bottom: 5px;
	display: block;
}

.boxicon i.petrol {
	color: #0083c9;
}

.boxicon i.kilo-meter {
	color: #00a651;
}

.boxicon i.engile-capacity {
	color: #FF9B30;
}

.boxicon i.reg-year {
	color: #e52d27;
}

.boxicon i.transmission {
	color: #ff5700;
}

.boxicon i.body-type {
	color: #785EDD;
}

.boxicon i.car-color {
	color: #e4405f;
}

.car-feature-list {
	float: left;
	width: 100%;
}

.car-feature-list li {
	float: left;
	list-style: outside none none;
	margin: 0;
	padding-bottom: 10px;
	width: 33%;
	font-size: 17px;
}

.car-feature-list li i {
	vertical-align: top;
	color: #777;
	font-size: 24px;
}

.small-section .img-thumb.first {
	margin-bottom: 17px;
}

.img-thumb {
	background: #f6f6f6 none repeat scroll 0 0;
	display: block;
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.feuture-posts .fp-small {
	padding: 0 14px;
}

.total-images {
	background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
	bottom: 0;
	color: #fff;
	line-height: 20px;
	padding: 0 10px;
	position: absolute;
	text-align: center;
}

.slider {
	margin: 50px 0 10px!important;
}

#carousel li {
	margin-right: 5px;
}

#carousel img {
	display: block;
	opacity: .5;
	cursor: pointer;
}

#carousel img:hover {
	opacity: 1;
}

#carousel .flex-active-slide img {
	opacity: 1;
	cursor: default;
}

span.required {
	color: #f00;
	font-size: 18px;
	line-height: 10px;
}

label {
	font-size: 14px;
	font-weight: 600;
	color: #232323;
}



 
 
/* =-=-=-=-=-=-= Parallex Overlays  =-=-=-=-=-=-= */
.parallex {
	color: #fff;
	position: relative;
	z-index: 44;
}

.parallex h2 {
	color: #fff;
	position: relative;
	z-index: 44;
}

.parallex::before {
	background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.parallex-small {
	background: #363c48 none repeat scroll 0 0;
	color: #fff;
	padding: 40px 0;
}

.parallex-text h4 {
	color: #fff;
	font-size: 28px;
	font-weight: 600;
	line-height: 60px;
	margin-bottom: 0;
	text-transform: capitalize;
}

.parallex-text p {
	color: #fff;
	position: relative;
	z-index: 44;
}

.parallex-small .btn {
	margin-top: 10px;
}

.parallex-button {
	text-align: right;
	margin: 20px 0;
}

.parallex-button .btn {
	padding: 15px 35px;
}

.btn-clean {
	border: 1px solid #fff;
	color: #fff;
	text-transform: uppercase;
}
/* =-=-=-=-=-=-= Template Common Styling =-=-=-=-=-=-= */


.sec-padding {
	padding: 90px 0;
}

.font-white {
	color: #FFF;
}

.font-uppercase {
	text-transform: uppercase;
}

.font-thin-xs {
	font-weight: 200;
}

.font-bold {
	font-weight: 600;
}

.font-white {
	color: #FFF;
}

.text-right {
	text-align: right;
	float: right;
}

 

 
/* =-=-=-=-=-=-= Bootstrap Clearfix =-=-=-=-=-=-= */
/*  Tablet  */

@media (min-width:767px) {
	/* Column clear fix */
	.col-lg-1:nth-child(12n+1), .col-lg-2:nth-child(6n+1), .col-lg-3:nth-child(4n+1), .col-lg-4:nth-child(3n+1), .col-lg-6:nth-child(2n+1), .col-md-1:nth-child(12n+1), .col-md-2:nth-child(6n+1), .col-md-3:nth-child(4n+1), .col-md-4:nth-child(3n+1), .col-md-6:nth-child(2n+1) {
		clear: none;
	}

	.col-sm-1:nth-child(12n+1), .col-sm-2:nth-child(6n+1), .col-sm-3:nth-child(4n+1), .col-sm-4:nth-child(3n+1), .col-sm-6:nth-child(2n+1) {
		clear: left;
	}
}


/*  Medium Desktop  */

@media (min-width:992px) {
	/* Column clear fix */
	.col-lg-1:nth-child(12n+1), .col-lg-2:nth-child(6n+1), .col-lg-3:nth-child(4n+1), .col-lg-4:nth-child(3n+1), .col-lg-6:nth-child(2n+1), .col-sm-1:nth-child(12n+1), .col-sm-2:nth-child(6n+1), .col-sm-3:nth-child(4n+1), .col-sm-4:nth-child(3n+1), .col-sm-6:nth-child(2n+1) {
		clear: none;
	}

	.col-md-1:nth-child(12n+1), .col-md-2:nth-child(6n+1), .col-md-3:nth-child(4n+1), .col-md-4:nth-child(3n+1), .col-md-6:nth-child(2n+1) {
		clear: left;
	}
}


/*  Large Desktop  */

@media (min-width:1200px) {
	/* Column clear fix */
	.col-md-1:nth-child(12n+1), .col-md-2:nth-child(6n+1), .col-md-3:nth-child(4n+1), .col-md-4:nth-child(3n+1), .col-md-6:nth-child(2n+1), .col-sm-1:nth-child(12n+1), .col-sm-2:nth-child(6n+1), .col-sm-3:nth-child(4n+1), .col-sm-4:nth-child(3n+1), .col-sm-6:nth-child(2n+1) {
		clear: none;
	}

	.col-lg-1:nth-child(12n+1), .col-lg-2:nth-child(6n+1), .col-lg-3:nth-child(4n+1), .col-lg-4:nth-child(3n+1), .col-lg-6:nth-child(2n+1) {
		clear: left;
	}
}

.btn-theme.btn-outline {
	background: transparent none repeat scroll 0 0;
	border-color: #2854a1;
	color: #2854a1;
}

.form-control:focus {
	border-color: inherit;
	box-shadow: none;
}

.hr {
	border-top: 1px solid #ebebeb;
	margin: 30px 0;
}


/* =-=-=-=-=-=-= Page Components  =-=-=-=-=-=-= */

.components .nav> li {
	float: left;
}

.btn-outline {
	background-color: transparent;
	color: inherit;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.alert-outline {
	background-color: transparent;
	color: inherit;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.btn-rounded {
	border-radius: 60px;
}

.label.label-success {
	background: #8ac249 none repeat scroll 0 0;
}

.label.label-info {
	background: #02a8f3 none repeat scroll 0 0;
}

.label.label-warning {
	background: #fe9700 none repeat scroll 0 0;
}

.label.label-danger {
	background: #f34235 none repeat scroll 0 0;
}

.popover {
	background-clip: padding-box;
	border-radius: 5px;
	box-shadow: none;
}
/* =-=-=-=-=-=-= Scroll Back To Top =-=-=-=-=-=-= */

.cd-top {
	display: inline-block;
	height: 40px;
	width: 40px;
	position: fixed;
	bottom: 40px;
	right: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	/* image replacement properties */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
	-webkit-transition: opacity .3s 0s, visibility 0s 0s;
	-moz-transition: opacity .3s 0s, visibility 0s 0s;
	transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
	visibility: visible;
	opacity: 1;
	z-index: 99;
}

.cd-top.cd-fade-out {
	/* if the user keeps scrolling down, the button is out of focus and becomes less visible */
	opacity: .5;
}

.no-touch .cd-top:hover {
	background-color: #e86256;
	opacity: 1;
}
/* =-=-=-=-=-=-= Happy Clients =-=-=-=-=-=-= */
.happy-clients-area {
	padding: 90px 0 60px;
}

.client-brand-list {
	margin-left: -30px;
	overflow: hidden;
}

.sigle-clients-brand {
	float: left;
	padding-left: 30px;
	width: 20%;
	margin-bottom: 30px;
}

.sigle-clients-brand a {
	border: 1px solid #ddd;
	display: block;
	opacity: 0.5;
	padding: 20px;
}

.sigle-clients-brand a:hover {
	opacity: 1;
}

.sigle-clients-brand a img {
	width: 100%;
	padding: 0 40px;
}

 


/* =-=-=-=-=-=-= Funfacts  =-=-=-=-=-=-= */

.funfacts {
	background: rgba(0, 0, 0, 0) url("../images/banner-6.jpg") no-repeat scroll center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.funfacts {
	height: 100%;
	text-align: center;
}

.funfacts .number {
	color: #fff;
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 20px;
}

.funfacts h4 {
	color: #fff;
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 30px;
}

.funfacts .icons {
	position: relative;
	width: 100%;
	text-align: center;
	clear: both;
	display: table;
	margin-bottom: 25px;
}

.funfacts .icons i {
	font-size: 60px;
	color: #fff;
}

@keyframes heartbit {
	0% {
		opacity: 0;
		transform: scale(0);
	}

	25% {
		opacity: 0.1;
		transform: scale(0.1);
	}

	50% {
		opacity: 0.3;
		transform: scale(0.5);
	}

	75% {
		opacity: 0.5;
		transform: scale(0.8);
	}

	100% {
		opacity: 0;
		transform: scale(1);
	}
}

@keyframes heartbit {
	0% {
		opacity: 0;
		transform: scale(0);
	}

	25% {
		opacity: 0.1;
		transform: scale(0.1);
	}

	50% {
		opacity: 0.3;
		transform: scale(0.5);
	}

	75% {
		opacity: 0.5;
		transform: scale(0.8);
	}

	100% {
		opacity: 0;
		transform: scale(1);
	}
}




 

 
/* =-=-=-=-=-=-= Advanced Search =-=-=-=-=-=-= */
.advance-search {
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.07);
	margin-top: -41px;
	position: relative;
	z-index: 99;
}

.section-search .nav-tabs {
	border-bottom: 0 none;
}

.section-search .nav-tabs .nav-item {
	margin-bottom: 0;
	margin-right: 7px;
}

.section-search .nav-tabs .nav-link.activelink {
	padding: 10px 14px;
	width: auto;
}

.search-style-2 .search-form {
	padding: 33px 0 23px;
	width: 100%;
}

.hero .search-style-2 .search-form, .hero .section-search .nav-tabs .nav-item.active a {
	background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
	color: #232323;
}

.hero .search-style-2 .tab-content .search-form .by-body-type {
	width: 104px;
}

.hero .section-search .nav-tabs .nav-item.active a {
	border-top: 3px solid #d91a29;
}

.hero .search-style-2 .search-form {
	padding: 20px 15px;
}

.search-style-2 .search-form-inner {
	margin-left: -3px;
	margin-right: -3px;
	width: calc(100% - 170px);
}

.search-style-2 .search-form-inner .form-group {
	padding-left: 5px;
	padding-right: 5px;
}

.search-style-2 label {
	color: #232323;
}

.nav-tabs .nav-item+ .nav-item {
	margin-left: 0;
}

.section-search .nav-tabs .nav-item {
	margin-bottom: 0;
	margin-right: 7px;
}

.section-search .nav-tabs .nav-item.active a {
	background-color: #fff;
}

.section-search .nav-tabs .nav-link {
	border: 0 none;
	border-radius: 0;
	font-size: 14px;
	font-weight: 600;
	padding: 11px 48px;
	text-align: center;
	text-transform: uppercase;
	color: #232323;
}

.search-style-2.section-search .nav-tabs .nav-link {
	background-color: rgba(255, 255, 255, 0.8);
	color: #232323;
	border-width: 0;
}

.hero .search-style-2.section-search .nav-tabs .nav-link {
	background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
	color: #fff;
}

.search-style-2 .tab-content .search-form .btn {
	margin-top: 32px;
}

.search-style-2 .tab-content .search-form .btn.extra-top {
	margin-top: 55px;
}

.search-style-2 .tab-content .search-form .btn-lg {
	letter-spacing: 1.3px;
	padding: 17px 30px;
}

.search-style-2 .tab-content .search-form .by-body-type {
	width: 160px;
}

.search-style-2 .tab-content .search-form .select2-container--default .select2-selection--single {
	height: 52px;
}

body .over-hidden {
	overflow: hidden;
}
 
 


/* =-=-=-=-=-=-= Comparison  =-=-=-=-=-=-= */
.vsbox {
	background: #919191 none repeat scroll 0 0;
	border-radius: 50%;
	color: #fff;
	height: 35px;
	left: 0;
	line-height: 35px;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 36%;
	width: 35px;
	z-index: 5;
}

.comparison-box strong a {
	color: #232323;
	font-size: 18px;
}

.comparison-box h2, .comparison-box h2 a {
	color: #232323;
	font-size: 16px;
	font-weight: 500;
}

.comparison-box span {
	color: #232323;
	font-size: 18px;
	font-weight: 500;
}

.comparison-box {
	margin-bottom: 30px;
	padding: 25px 20px;
	position: relative;
	transition: all 0.3s ease-in-out 0s;
	overflow: hidden;
	box-shadow: 0 2px 4px rgba(221, 221, 221, 0.75);
	background-color: #fff;
}

.comparison-box .rating {
	font-size: 14px;
}

.comparison-box .rating i {
	color: #ffc513;
}

.comparison-box:hover {
	box-shadow: 0 2px 4px rgba(221, 221, 221, 0.75);
}

.socail-icons ul li {
	display: inline-block;
	margin-bottom: 10px;
	margin-right: 3px;
}

.socail-icons li span:hover {
	cursor: pointer;
}

.socail-icons ul li a {
	background-color: #000;
	border-radius: 100%;
	display: inline-block;
	height: 28px;
	margin-right: 8px;
	padding: 0;
	text-align: center;
	width: 28px;
}

.socail-icons li a i {
	font-size: 12px;
	color: #fff;
}

.socail-icons li a.Facebook {
	background-color: #2b4a8b;
}

.socail-icons li a.Twitter {
	background-color: #1f94d9;
}

.socail-icons li a.Linkedin {
	background-color: #10598c;
}

.socail-icons li a.Google {
	background-color: #d83936;
}

.socail-icons li a.Vimeo {
	background-color: #1ab7ea;
}

.socail-icons li a.Pinterest {
	background-color: #cd201f;
}

.socail-icons li a.Tumblr {
	background-color: #2c4762;
}

.socail-icons li a.Instagram {
	background-color: #3f729b;
}

.socail-icons li a.Reddit {
	background-color: #eff7ff;
}

.socail-icons li a.Flickr {
	background-color: #ff0084;
}

.socail-icons li a.StumbleUpon {
	background-color: #ff7257;
}

.socail-icons li a.behance {
	background-color: #1e6fed;
}

.socail-icons li a.DeviantART {
	background-color: #05cc47;
}

.compare-detial .accordion {
	margin-top: 20px;
}

.compare-detial table {
	background-color: #fff;
}

.compare-detial .accordion li .accordion-content table {
	margin-top: 10px;
}

.compare-detial .accordion li .accordion-content table tr td .fa-times {
	color: red;
}

.compare-detial .accordion li .accordion-content table tr td .fa-check {
	color: green;
}

.compare-detial table tr td h4 {
	font-size: 18px;
	font-weight: 500;
}

.compare-detial table tr td ul li {
	padding: 0;
}

.compare-detial table tr td ul li a {
	display: inline-block;
	height: 20px;
	margin-right: 10px;
	width: 20px;
}

.light-blue {
	background: #2196f3 none repeat scroll 0 0;
	color: #2196f3;
}

.orange {
	background: #ff9800 none repeat scroll 0 0;
	color: #ff9800;
}

.blueviolet {
	background: #673ab7 none repeat scroll 0 0;
	color: #673ab7;
}

.orange-dark {
	background: #ff5722 none repeat scroll 0 0;
	color: #ff5722;
}

.steelblue {
	background: #607d8b none repeat scroll 0 0;
	color: #607d8b;
}

.red-light {
	background: #fd4339 none repeat scroll 0 0;
}

.cyan-dark {
	background: #00bcd4 none repeat scroll 0 0;
}

.compare-detial tr td:first-child {
	width: 350px;
	background: #f2f2f2 none repeat scroll 0 0;
	text-align: center;
	font-weight: 600;
}

.compare-detial tr td {
	box-sizing: border-box;
	color: rgba(0, 0, 0, 0.8);
	font-size: 18px;
	padding: 19px 15px;
	text-align: center;
	width: 395px;
}

.compare-detial tr {
	border: 1px solid #dddddd;
}
/* =-=-=-=-=-=-= User Testimonials =-=-=-=-=-=-= */
.owl-testimonial-2 .single_testimonial {
	background-color: #fff;
	box-shadow: 0 0 6px -3px rgba(0, 0, 0, 0.9);
	margin-left: 15px;
	margin-right: 15px;
	padding: 20px;
}

.owl-testimonial-1 .single_testimonial {
	background-color: #fff;
	margin-left: 15px;
	margin-right: 15px;
	padding: 20px;
	border: 1px solid #f1f1f1;
}

.parallex .owl-testimonial-2 .single_testimonial h4, .owl-testimonial-1 .single_testimonial h4 {
	color: #232323;
	margin-bottom: 10px;
}

.parallex .owl-testimonial-2 .single_testimonial h3, .owl-testimonial-1 .single_testimonial h3 {
	color: #232323;
}

.parallex .owl-testimonial-2 .single_testimonial p, .owl-testimonial-1 .single_testimonial p {
	color: #777;
}

.owl-testimonial-2 .single_testimonial h4, .owl-testimonial-1 .single_testimonial h4 {
	font-size: 18px;
	font-weight: 600;
	margin-top: 0;
	text-transform: uppercase;
}

.owl-testimonial-2 .single_testimonial i, .owl-testimonial-1 .single_testimonial i {
	color: #ffc207;
	margin-bottom: 20px;
	margin-top: 5px;
}

.owl-testimonial-2 .single_testimonial img, .owl-testimonial-1 .single_testimonial img {
	border-radius: 50px;
	float: left;
	height: 90px;
	margin: auto 15px auto auto;
	width: 90px;
}

.owl-testimonial-2 .single_testimonial h3, .owl-testimonial-1 .single_testimonial h3 {
	font-size: 16px;
	margin: 0;
	text-transform: capitalize;
}

.owl-testimonial-2 .single_testimonial .testimonial-meta-box .testimonial-meta p, .owl-testimonial-1 .single_testimonial .testimonial-meta-box .testimonial-meta p {
	line-height: 24px;
	margin-bottom: 0;
}

.owl-testimonial-2 .single_testimonial .textimonial-content, .owl-testimonial-1 .single_testimonial .textimonial-content {
	margin-bottom: 10px;
	overflow: hidden;
	position: relative;
}

.owl-testimonial-2 .single_testimonial .testimonial-meta-box {
	overflow: hidden;
	position: relative;
}

.owl-testimonial-2 .single_testimonial .testimonial-meta-box::after {
	color: #202c45;
	content: "";
	font-family: fontawesome;
	font-size: 32px;
	opacity: 0.2;
	position: absolute;
	right: 5px;
	top: 5px;
}

.owl-testimonial-1 .single_testimonial::after {
	border-bottom: 50px solid #eee;
	border-right: 50px solid #fff;
	box-shadow: -8px 3px 9px -2px rgba(0, 0, 0, 0.1);
	content: "";
	height: 0;
	left: auto;
	opacity: 1;
	position: absolute;
	right: 15px;
	top: 0;
	width: 0;
	z-index: 9;
}
/* =-=-=-=-=-=-= Search Modal =-=-=-=-=-=-= */
.icon-search {
	position: absolute;
	top: 10px;
	left: 14px;
	font-size: 34px;
	color: #ccc;
}

.search-modal .modal-body {
	position: relative;
	padding-top: 0;
}

.search-modal .modal-header {
	background: #202020 none repeat scroll 0 0;
}

.search-modal .modal-header h3 {
	color: #fff;
}

.search-modal .form-control {
	background-color: transparent;
	border: none;
	padding-left: 40px;
}

.search-modal .search-block .popular-search {
	padding-top: 15px;
}

.search-modal .search-block .popular-search label {
	font-size: 16px;
}

.search-modal .search-block .popular-search ul li a {
	color: #232323;
}

.search-modal .form-control:focus {
	box-shadow: none;
}

.search-modal .close {
	color: #fff;
}

.search-modal .close:hover, .search-modal .close:focus {
	color: #fff;
}
/* =-=-=-=-=-=-= Why Choose Us =-=-=-=-=-=-= */
.absolute-img {
	bottom: 0;
	position: absolute;
	top: 220px;
}

.choose-title p {
	margin-bottom: 30px;
}

.choose-title h3 {
	color: #323232;
	font-size: 18px;
	font-style: italic;
	margin-bottom: 5px;
}

.choose-title h2 {
	color: #323232;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.4em;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.choose-box:hover .iconbox i, .choose-box:hover h4 {
	color: #016db6;
	cursor: pointer;
}

.choose-box-content h4 {
	color: #323232;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 10px;
	margin-top: 0;
	text-transform: capitalize;
}

.choose-list li {
	margin-bottom: 30px;
}

.our-services .left-column {
	color: #ffffff;
	padding-top: 90px;
	position: relative;
	z-index: 1;
}

.our-services .left-column .inner-box {
	padding-right: 55px;
	position: relative;
}

.our-services .left-column h2 {
	font-size: 46px;
	font-weight: 700;
	margin-bottom: 10px;
}

.our-services .service-column {
	position: relative;
	z-index: 1;
}

.our-services .service-column .inner-box {
	background: #fff none repeat scroll 0 0;
	border-radius: 3px;
	margin-left: -50px;
	padding: 40px 40px 15px 40px;
	position: relative;
}
/* =-=-=-=-=-=-= About Us =-=-=-=-=-=-= */
.about-title h2 {
	color: #323232;
	font-size: 26px;
	font-weight: 700;
	line-height: 1.4em;
	text-transform: uppercase;
	padding-bottom: 20px;
}

.about-us .title {
	margin-bottom: 30px;
}

.about-us .content p {
	font-size: 18px;
}

.about-us .title h3::after {
	background-color: #242424;
	bottom: 0;
	content: "";
	height: 1px;
	left: 0;
	margin: 0;
	position: absolute;
	right: 0;
	width: 59px;
}

.about-us .title h3 {
	color: #222;
	font-size: 28px;
	font-weight: 700;
	padding-bottom: 20px;
	position: relative;
	text-transform: capitalize;
	z-index: 2;
}

.about-us .title h3::before {
	background-color: #242424;
	bottom: 6px;
	content: "";
	height: 1px;
	left: 0;
	margin: 0;
	position: absolute;
	right: 0;
	width: 99px;
}

.about-us .content p.service-summary {
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 10px;
}

.about-title h2::before {
	margin: 0;
	background-color: #242424;
	bottom: 6px;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	right: 0;
	width: 99px;
}

.about-title h2::after {
	background-color: #242424;
	bottom: 0;
	content: "";
	height: 1px;
	left: 0;
	margin: 0;
	position: absolute;
	right: 0;
	width: 59px;
}

.about-title h3 {
	color: #323232;
	font-size: 18px;
	font-style: italic;
	margin-bottom: 18px;
}

.about-title p, .our-experince p {
	margin-top: 20px;
}

.about-title .custom-links {
	margin-top: 20px;
}

.custom-links {
	list-style: outside none none;
	padding-left: 0;
}

.custom-links a {
	color: #232323;
	display: block;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 20px;
	padding-left: 26px;
	position: relative;
	font-weight: 500;
}

.custom-links a::before {
	content: "";
	display: inline-block;
	font-family: FontAwesome;
	font-feature-settings: normal;
	font-kerning: auto;
	font-language-override: normal;
	font-size: inherit;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-synthesis: weight style;
	font-variant: normal;
	font-weight: normal;
	left: 0;
	line-height: 1;
	position: absolute;
	top: 0;
}

.custom-img {
	position: absolute;
	right: 0;
	bottom: -60px;
	z-index: 99;
}

.custom-links li:last-child a {
	margin-bottom: 0;
}

.right-side h5 {
	color: #262626;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 25px;
}

.right-side img {
	bottom: -180px;
	position: absolute;
	right: -208px;
}
/* =-=-=-=-=-=-= Services =-=-=-=-=-=-= */
.our-services, .services-2 {
	position: relative;
}

.services-grid-3 {
	margin-bottom: 30px;
	position: relative;
	transition: all 0.3s ease 0s;
}

.services-grid-3 .service-icon {
	display: block;
	font-size: 50px;
	right: 0;
	top: 18px;
	position: absolute;
}

.services-grid-3 .content-area .service-icon i {
	color: #ccc;
}

.content-area h4 {
	font-size: 20px;
	margin-btoom: 10px;
	color: #232323;
	font-weight: 500;
}

.services-grid {
	background-color: #fff;
	transition: all 0.3s ease 0s;
	margin-bottom: 30px;
	position: relative;
}

.gray .services-grid {
	background-color: transparent;
}

.services-center .services-grid .icons.icon-right {
	float: right;
	margin-left: 5px;
	position: relative;
	clear: both;
}

.services-center .services-grid .icons.icon-left {
	float: left;
	margin-right: 20px;
}

.services-grid .icons i {
	background: #fbfbfb none repeat scroll 0 0;
	border-radius: 100px;
	color: #000;
	display: block;
	font-size: 42px;
	height: 90px;
	line-height: 90px;
	position: relative;
	text-align: center;
	width: 90px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 30px;
}

.services-grid h4 {
	color: #323232;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 10px;
	margin-top: 0;
	text-transform: capitalize;
}

.services-grid p:last-child {
	margin-bottom: 0;
}

/* =-=-=-=-=-=-= Footer =-=-=-=-=-=-= */

footer.footer-bg {
	padding-bottom: 110px;
	position: relative;
	border-top: 1px dashed #ddd;
	background: rgba(0, 0, 0, 0) url("../images/footer-banner.png") repeat-x scroll center bottom;
}

.footer-bg .footer-top, .footer-bg .copyrights {
	background-color: transparent;
	border-top: medium none;
}

.footer-bg .footer-top {
	padding: 70px 0 10px;
}

.footer-bg .copyrights .copyright-content {
	border-top: 1px solid #ccc;
	position: relative;
}

.footer-top {
	background-color: #202020;
	padding: 70px 0 30px;
}

.footer-top .widget .logo {
	margin: 0 0 10px;
	text-align: left;
}

.footer-top .widget .logo img {
	max-width: 120px;
}

.footer-top .widget p {
	margin-bottom: 20px;
}

.footer-top .widget h5 {
	font-size: 18px;
	display: block;
	margin: 0 0 18px;
	color: #232323;
	font-weight: 500;
}

.footer-top .widget ul li {
	display: inline-block;
	margin: 0 4px 4px 0;
}

.footer-top .widgettext address {
	font-style: normal;
	line-height: 30px;
}

.footer-top .widgettext address span {
	color: #333;
	font-size: 15px;
	line-height: 24px;
}

.footer-top .widget.socail-icons ul li {
	display: block;
	margin-right: 3px;
	margin-bottom: 10px;
}

.footer-top .widget.my-quicklinks ul li {
	display: block;
	margin-bottom: 10px;
	margin-right: 3px;
}

.footer-top .widget.socail-icons li span:hover {
	cursor: pointer;
}

.footer-top .widget.my-quicklinks ul li a {
	color: #777;
}

.footer-top .widget.socail-icons ul li a {
	background-color: #000;
	border-radius: 100%;
	display: inline-block;
	height: 28px;
	margin-right: 8px;
	padding: 0;
	text-align: center;
	width: 28px;
}

.footer-top .widget.socail-icons li a i {
	font-size: 12px;
	color: #fff;
}

.footer-top .widget.socail-icons li a.Facebook {
	background-color: #2b4a8b;
}

.footer-top .widget.socail-icons li a.Twitter {
	background-color: #1f94d9;
}

.footer-top .widget.socail-icons li a.Linkedin {
	background-color: #10598c;
}

.footer-top .widget.socail-icons li a.Google {
	background-color: #d83936;
}

.footer-top .widget.socail-icons li a.Vimeo {
	background-color: #1ab7ea;
}

.footer-top .widget.socail-icons li a.Pinterest {
	background-color: #cd201f;
}

.footer-top .widget.socail-icons li a.Tumblr {
	background-color: #2c4762;
}

.footer-top .widget.socail-icons li a.Instagram {
	background-color: #3f729b;
}

.footer-top .widget.socail-icons li a.Reddit {
	background-color: #eff7ff;
}

.footer-top .widget.socail-icons li a.Flickr {
	background-color: #ff0084;
}

.footer-top .widget.socail-icons li a.StumbleUpon {
	background-color: #ff7257;
}

.footer-top .widget.socail-icons li a.behance {
	background-color: #1e6fed;
}

.footer-top .widget.socail-icons li a.DeviantART {
	background-color: #05cc47;
}

.footer-top .widget-newsletter .fieldset form input[type="text"] {
	background-color: #f5f5f5;
	border: medium none;
	color: #999;
	font-size: 12px;
	height: 48px;
	padding: 0 15px;
	width: 100%;
}

.widget-newsletter .fieldset P {
	line-height: 27.8px;
	margin-bottom: 20px;
}

.widget-newsletter .fieldset form {
	position: relative;
}

.widget-newsletter .fieldset form .submit-btn {
	border: medium none;
	color: #fff;
	display: block;
	height: 48px;
	padding: 0 18px;
	position: absolute;
	right: 0;
	text-transform: uppercase;
	top: 0;
}

.widget-newsletter .fieldset.has-border {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #f8f8f8 #f1f1f1 #f1f1f1;
	border-image: none;
	border-style: solid;
	border-width: 2px 1px 1px;
	padding: 15px 15px 20px;
}

.copyright p {
	margin: 20px 0 0 0;
}